<ion-content>
  <ion-grid style="margin-top: 150px">
    <ion-row>
      <ion-col size="3" *ngFor="let box of boxes">
        <ion-card>

          <!-- Image Display -->
          <div *ngIf="box?.boxImgUrl">
            <img [src]="box?.boxImgUrl" alt="{{ box?.boxName }}" height="200">
          </div>

          <!-- Card Header -->
          <ion-card-header>
            <ion-card-title>{{box.boxName}}</ion-card-title>
            <ion-card-subtitle>{{box.id}}</ion-card-subtitle>
          </ion-card-header>

          <!-- Show Details Button -->
          <button class="details" *ngIf="box.id" (click)="showBoxDetails(box.id)">Show Details</button>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
